body {
    font-family: Roboto;
    background: #8E0E00;
    /* fallback for old browsers */
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
    height: 525px;
    width: auto;
    margin: 100px auto;
    background: #f7f7f7;
  }
  #container > div {
    padding: 10px;
  }
  table, th, tr, td{
    border: 1px solid gray;
  }